pyrogram
tgcrypto
py-tgcalls[pyrogram]
pytube
git+https://GitHub.com/vexeraop/download
youtube_dl
heroku3
rich
aiohttp
gitpython
motor
youtube_search
aiofiles
dnspython
python-dotenv
pykeyboard
aiohttp_session
telegraph
python-arq
